db.sqlite3
__pycache__/
__pycache__/
coopconnect/__pycache__/
extension/__pycache__/
attendance/__pycache__/
payment/__pycache__/
api/__pycache__/
cooperativeadmin/__pycache__/
env/__pycache__/
farmer/__pycache__/
refunds/__pycache__/
rewards/__pycache__/
schedules/__pycache__/
trainings/__pycache__/
village/__pycache__/
__pycache__/